<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Lighthouse Local</title>
  </head>
  <body>
    <h1>Lighthouse Local</h1>
    <form action="/" method="post">
      <input type="text" name="url" /><br /><br />
      <input type="submit" value="Submit" /><br /><br />
    </form>
  </body>
</html>
